<footer class="page-row"
  style="background-color: #D8D8D8; border-top-left-radius: 10px; border-top-right-radius: 10px;">
  <div class="container">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
            <li><a href="https://twitter.com/SSeethalla">Twitter: SSeethalla</a></li>
          </ul>
        {%- endif %}
        </div>
        <div class="footer-col">
          <ul style="list-style: none; margin-left: 20px;">
            <li>{{ site.description | escape }}</li>
            <li><a href="https://www.instagram.com/ssh_shreyas_/">Instagram: ssh_shreyas</a></li>
            <li><a href="https://github.com/kasaiyuki">GitHub</a></li>
          </ul>
        </div>
      </div>
  
  
    </div>
  </div>
</footer>