<div class="container">
  <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light" style="background-color: #D0D0D0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
    <a class="navbar-brand" href="/"> <span></span><img src="/assets/brandLogo.png"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" style="padding-right: 5px;">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item active dropdown" style="padding-right: 5px;">
          <a class="nav-link dropdown-toggle" href="/guides" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Study Guides
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/guides">Guides Home</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/guides/guides-topic">Guides by Topic</a>
            <a class="dropdown-item" href="/guides/guides-concepts">Concepts</a>
            <a class="dropdown-item" href="/guides/guides-strats">Stratagies</a>
          </div>
        </li>
        <li class="nav-item active" style="padding-right: 5px;">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item active" style="border-left: 2.5px solid #C0C0C0;">
          <a class="nav-link" href="./">Back</a>
        </li>
      </ul>
      <!---<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>
</div>