<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/guides">Study Guides</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="./">Back</a></li>
    </ul>
</nav>
<div class="container">
    <h1>{{page.title}}</h1>

    {{ content }}

</div><!-- /.container -->
<footer>
    <br>
    <ul>
        <li><a href="mailto:shreyas.seethalla@gmail.com">Email</a></li>
        <li>Instagram: ssh_shreyas</li>
        <li><a href="https://github.com/kasaiyuki">GitHub</a></li>
    </ul>
</footer>
</body>
</html>