<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
    {% include navbar2.html %}
<div class="container">
    <h1>{{page.title}}</h1>

    {{ content }}

</div><!-- /.container -->
<footer>
    <br>
    <ul>
        <li><a href="mailto:shreyas.seethalla@gmail.com">Email</a></li>
        <li>Instagram: ssh_shreyas</li>
        <li><a href="https://github.com/kasaiyuki">GitHub</a></li>
    </ul>
</footer>
</body>
</html>